@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #097941, #020024);
    background-repeat: no-repeat;
    display: flex;
    font-weight: 500;
    color: #ccc;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    position: absolute;
    border: 1px solid blue;
    height: 7vw;
    padding: 20px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: #ccc;
}

a:hover {
    color: #020024;
}

main {
    border: 2px solid yellow;
    margin-top: 110px;
    height: 45vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form input {
    background: #161923;
    width: 300px;
    height: 45px;
    padding: 0 0.5rem;
/*    margin-top: 0.5rem; */
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
    border: none;
    border-radius: 32px;
    background: rgb(115, 111, 117);
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #020024;
}

