/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Resetando os elementos da página */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Trabalhando a página */
body {
    background: linear-gradient(45deg, #097941, #020024);
    background-repeat: no-repeat;
    padding: 10px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Trabalhando a caixa branca que engloba os elementos de login */
main .container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
}

/* Trabalhando os elementos de fonte */
main .container .titulo {
    color: #020024;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 2rem;
    position: relative;
}

main .container .titulo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 4px;
    width: 250px;
    border-radius: 8px;
    background: linear-gradient(45deg, #097941, #020024);
}

form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
/*    margin: 20px 0 12px 0;*/
}

form .user-details .input-field {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

/*.user-details .input-field .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}*/

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0,0,0,0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #097941, #020024);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~.underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0,0,0,0.7);
}

.input-field input::placeholder {
    color: rgba(0,0,0,0.5);
}

/*header {
    position: absolute;
    border: 1px solid blue;
    height: 7vw;
    padding: 20px;
}*/

/*header h1{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}*/

/*main {
    border: 2px solid yellow;
    margin-top: 110px;
    height: 45vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #097941, #020024);
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

main form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #097941, #020024);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-field {
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 10px;
    }
}
