/* Importa a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Reset CSS (reseta todos os elementos da página) */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    
    font-family: "Poppins", sans-serif;
}

/* Definindo o tamanho do corpo da página */
body {
    width: 100vw;
    height: 100vh;
}

/* Trabalhando o cabeçalho */
.cabecalho {
/*    border: 1px solid red;*/
    background: #002244;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

/* Trabalhando o logo */
.titulo-logo {
    /*font-size: 40px;*/
    font-weight: bold;
    text-decoration: underline;
    color: #A5ACAF;
}

/* Trabalhando o menu */
.cabecalho-menu {
    display: flex;
    gap: 32px
}

/* Trabalhando os itens do menu */
.cabecalho-menu-item {
    color: #fff;
    text-decoration: none;
}
.cabecalho-menu-item:hover {
    text-decoration: underline;
    color: #A5ACAF;
    transition: 0.3s all;
}

/* Trabalhando o container */
.container {
    /*border: 1px solid violet*/
    border-top: 2px solid #A5ACAF;
}

/* Trabalhando o conteúdo principal */
.conteudo-principal {
    background: #69BE28;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    /*border: 1px solid black*/
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-weight: 200;
    font-size: 40px;
    color: #002244;
}

.conteudo-principal-escrito-paragrafo {
    /*border: 1px solid red*/
    font-weight: 200;
    font-size: 18px;
    color: #fff;
}

/* Trabalhando a imagem do conteúdo principal */
.conteudo-principal-imagem {
    /*border: 1px solid blue*/
    display: flex;
}



/*#botao-login {
    border: 2px solid rgb(5, 104, 21);
    padding: 5px;
    border-radius: 10px;
}

#botao-cadastrar {
    border: 2px solid rgb(5, 104, 21);
    padding: 5px;
    border-radius: 10px;
}*/

footer {
    background: #002244;
}
.copyright {
    margin-top: 20px;
    color: #A5ACAF;
    font-size: 16px;
    text-align: center;
}