/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Resetando os elementos da página */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Trabalhando a página */
body {
    background: linear-gradient(45deg,#7AC141,#002A5C);
    /*background: linear-gradient(45deg, #097941, #020024);*/
    background-repeat: no-repeat;
    height: 100vh; /* 100% da altura da viewport */
    width: 100vw; /* 100% da largura da viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*main {
    border: 1px solid yellow;
}*/

/* "container" da logo */
main .title {
    /*border: 1px solid red;*/
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* texto da logo */
main .title h1 {
    font-size: 45px;
    text-decoration: underline;
    font-weight: bold;
}

/* link embutido na logo */
main .title h1 a {
    color: #B2B7BB;
    text-decoration: none;
}

/* estado hover da logo */
main .title h1 a:hover {
    /*color: #097941;*/
    color: #7AC142;
}

/* Trabalhando a caixa branca (container) que engloba os elementos de login */
main .container {
    /*border: 1px solid blue;*/
    background: #fff;
    max-width: 350px;
    min-height: 50vh;
    padding: 2rem; /* padding dos elementos que estão dentro do container */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.8); /* sombra ao redor do container */
    border-radius: 8px;
}

/* Trabalhando os elementos de fonte do título do container */
main .container h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative; /* elemento pai é relativo */
}

/* Trabalhando o sublinhado abaixo do título do container */
/* Utilizando o pseudo-elemento after após o elemento h2. */ 
/* Assim, não precisamos criar uma div e estilizá-la */
main .container h2::after {
    content: ''; /* sintaxe obrigatória do pseudo-elemento (neste caso específico, fica em branco mesmo)*/
    position: absolute; /* posição absoluta em relação ao pai */
    height: 4px; /* altura do sublinhado */
    width: 227px; /* compimento do sublinado */
    bottom: 3px; /* espaço do sublinhado até o texto */
    left: 0; /* ponto inicial do sublinhado */
    border-radius: 8px;
    background: linear-gradient(45deg, #7AC142,#002A5C);
    /*background: linear-gradient(45deg, #097941, #020024);*/
}

/* Faz o botão de entrar ocupar a linha inteira */
main form {
    display: flex;
    flex-direction: column;
}

/**/
main form .input-field {
    position: relative;
}

/* Trabalhando os "campos" do input */
/* Aplicando uma margin entre a primeira entrada do input e o título*/
/* Pseudo-classe firstchild: seleciona apenas o primeiro filho */
main form .input-field:first-child {
    margin-bottom: 1.5rem;
}

/* Classe underline (responsável pelo sublinhado dos "campos") */
main form .input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0,0,0,0.2);
}

/* Classe underline (responsável pelo sublinhado dos "campos") */
main form .input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    /*background: linear-gradient(45deg, #097941, #020024);*/
    background: linear-gradient(45deg,#7AC142,#002A5C);
    transform: scaleX(0); /* tamanho do item igual a zero, no caso a linha colorida */
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

/* Pseudo-classe focus: é aplicada quando um elemento recebe foco 
(é selecionado pelo usuário) */
/* Seletor ~ : seletor de irmãos. Aqui, seleciona o elemento anterior que
compartilha o mesmo pai. */
main form .input-field input:focus ~.underline::after {
    transform: scaleX(1); /* aumenta o tamanho do item, no caso a linha colorida */
}

/* Trabalhando elementos do input*/
main form .input-field input {
    outline: none; /* tira o contorno dos "campos" */
    font-size: 1rem; /* tamanho da fonte dos textos do placeholder */
    color: rgba(0,0,0,0.7); /* mexe na cor do texto do input */
}

/* Pseudo elemento placeholder */
main form .input-field input::placeholder {
    color: rgba(0,0,0,0.5); /* cor dos textos do placeholder */
}

/* Trabalhando o botão de entrar */
main form input[type="submit"] {
    margin-top: 2rem; /* espaço entre o campo de senha e o botão */
    padding: 0.4rem; /* padding do texto dentro do botão */
    background: linear-gradient(to left, #7AC142, #002A5C); /* efeito do gradiente indo para a direita*/
    cursor: pointer; /* muda o ícone do cursor quando passa pelo botão */
    color: #B2B7BB; /* cor do texto dentro do botão */
    font-size: 1rem; /* tamanho da fonte do texto dentro do botão */
    font-weight: 300; /* peso da fonte do texto dentro do botão */
    border-radius: 4px; 
    transition: all 0.3s ease-in-out;
}

/* Trabalhando o estado hover do botão de entrar */
main form input[type="submit"]:hover {
    letter-spacing: 2px; /* espaço entre as letras do texto dentro do botão*/
    background: linear-gradient(to right, #7AC142, #002A5C); /* efeito do gradiente indo para a direita*/
}

/* Classe que trabalha o espaço abaixo do botão de entrar */
main .footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
}

/* Trabalhando os dois links dentro do espaço abaixo do botão de entrar */
main .footer .other-buttons {
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 1rem;
    cursor: pointer; 
}

/* Trabalhando o primeiro link */
main .footer .other-buttons .other-buttons-forgot a {
    text-decoration: none;
    color: #002A5C;
}

/* Trabalhando o primeiro link (estado hover) */
main .footer .other-buttons .other-buttons-forgot a:hover {
    color: #097941;
    text-decoration: underline;
}

/* Trabalhando o segundo link */
main .footer .other-buttons .other-buttons-signup a {
    text-decoration: none;
    color: #002A5C;
}

/* Trabalhando o segundo link (estado hover) */
main .footer .other-buttons .other-buttons-signup a:hover {
    color: #097941;
    text-decoration: underline;
}

/* Espaço entre o primeiro link e o botão de entrar */
main .footer .other-buttons .other-buttons-forgot {
    margin-bottom: 10px;
}

