/* Importa a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Reset CSS (reseta todos os elementos da página) */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    
    font-family: "Poppins", sans-serif;
}

/* Definindo o tamanho do corpo da página */
/*body {
    width: 100vw;
    height: 100vh;
}*/

/* Trabalhando o cabeçalho */
.cabecalho {
/*    border: 1px solid red;*/
    background: #002244;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

/* Trabalhando o logo */
.titulo-logo a {
    /*font-size: 40px;*/
    font-weight: bold;
    text-decoration: underline;
    color: #A5ACAF;
}

/* Trabalhando o menu */
.cabecalho-menu {
    display: flex;
    gap: 32px
}

/* Trabalhando os itens do menu */
.cabecalho-menu-item {
    color: #fff;
    text-decoration: none;
}
.cabecalho-menu-item:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #A5ACAF;
    /*transition: 0.3s all;*/
}

.cabecalho-menu-botao {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-botao-item {
    border: 2px solid #69BE28;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

.cabecalho-menu-botao-item:hover {
    background:#69BE28;
    border: 2px solid #002244;
    color: #002244;
    text-decoration: none;
    font-weight: 700;
}

/* Trabalhando o container */
/*.container {
    border: 1px solid violet;
    border-top: 2px solid #A5ACAF;
}*/

/* Trabalhando o conteúdo principal */
.conteudo-principal {
    background: #69BE28;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89.3vh;
    /*width: 100vw;*/
}
/* Trabalhando a caixa branca (container) que engloba os elementos de login */
.container {
    /*border: 1px solid blue;*/
    background: #FFF;
    max-width: 350px;
    min-height: 50vh;
    padding: 2rem; /* padding dos elementos que estão dentro do container */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.8); /* sombra ao redor do container */
    border-radius: 8px;
}

/* Trabalhando os elementos de fonte do título do container */
.container h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative; /* elemento pai é relativo */
}

/* Trabalhando o sublinhado abaixo do título do container */
/* Utilizando o pseudo-elemento after após o elemento h2. */ 
/* Assim, não precisamos criar uma div e estilizá-la */
.container h2::after {
    content: ''; /* sintaxe obrigatória do pseudo-elemento (neste caso específico, fica em branco mesmo)*/
    position: absolute; /* posição absoluta em relação ao pai */
    height: 4px; /* altura do sublinhado */
    width: 227px; /* compimento do sublinado */
    bottom: 3px; /* espaço do sublinhado até o texto */
    left: 0; /* ponto inicial do sublinhado */
    border-radius: 8px;
    background: linear-gradient(45deg, #69BE28,#002244);
    /*background: linear-gradient(45deg, #097941, #020024);*/
}

/* Faz o botão de entrar ocupar a linha inteira */
form {
    display: flex;
    flex-direction: column;
}

/**/
form .input-field {
    position: relative;
}

/* Trabalhando os "campos" do input */
/* Aplicando uma margin entre a primeira entrada do input e o título*/
/* Pseudo-classe firstchild: seleciona apenas o primeiro filho */
form .input-field:first-child {
    margin-bottom: 1.5rem;
}

/* Classe underline (responsável pelo sublinhado dos "campos") */
form .input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0,0,0,0.2);
}

/* Classe underline (responsável pelo sublinhado dos "campos") */
form .input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    /*background: linear-gradient(45deg, #097941, #020024);*/
    background: linear-gradient(45deg,#69BE28,#002244);
    transform: scaleX(0); /* tamanho do item igual a zero, no caso a linha colorida */
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

/* Pseudo-classe focus: é aplicada quando um elemento recebe foco 
(é selecionado pelo usuário) */
/* Seletor ~ : seletor de irmãos. Aqui, seleciona o elemento anterior que
compartilha o mesmo pai. */
form .input-field input:focus ~.underline::after {
    transform: scaleX(1); /* aumenta o tamanho do item, no caso a linha colorida */
}

/* Trabalhando elementos do input*/
form .input-field input {
    outline: none; /* tira o contorno dos "campos" */
    font-size: 1rem; /* tamanho da fonte dos textos do placeholder */
    color: rgba(0,0,0,0.7); /* mexe na cor do texto do input */
    background: #FFF;
}

/* Pseudo elemento placeholder */
form .input-field input::placeholder {
    color: rgba(0,0,0,0.5); /* cor dos textos do placeholder */
}

/* Trabalhando o botão de entrar */
form input[type="submit"] {
    margin-top: 2rem; /* espaço entre o campo de senha e o botão */
    padding: 0.4rem; /* padding do texto dentro do botão */
    background: linear-gradient(to left, #69BE28, #002244); /* efeito do gradiente indo para a direita*/
    cursor: pointer; /* muda o ícone do cursor quando passa pelo botão */
    color: #FFF; /* cor do texto dentro do botão */
    font-size: 1rem; /* tamanho da fonte do texto dentro do botão */
    font-weight: 500; /* peso da fonte do texto dentro do botão */
    border-radius: 4px; 
    transition: all 0.3s ease-in-out;
}

/* Trabalhando o estado hover do botão de entrar */
form input[type="submit"]:hover {
    letter-spacing: 1px; /* espaço entre as letras do texto dentro do botão*/
    background: linear-gradient(to right, #69BE28, #002244); /* efeito do gradiente indo para a direita*/
}

/* Classe que trabalha o espaço abaixo do botão de entrar */
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
}

/* Trabalhando os dois links dentro do espaço abaixo do botão de entrar */
.footer .other-buttons {
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 1rem;
    cursor: pointer; 
}

/* Trabalhando o primeiro link */
.footer .other-buttons .other-buttons-forgot a {
    /*border: 1px solid black;*/
    /*border-radius: 8px;*/
    text-decoration: none;
    color: #002244;
}

/* Trabalhando o primeiro link (estado hover) */
.footer .other-buttons .other-buttons-forgot a:hover {
    border: 2px solid #002244;
    border-radius: 10px;
    color: #69BE28;
    background: #002244;
    text-decoration: none;
    padding: 3px;
    font-weight: 700;
}

/* Trabalhando o segundo link */
.footer .other-buttons .other-buttons-signup a {
    text-decoration: none;
    color: #002244;
}

/* Trabalhando o segundo link (estado hover) */
.footer .other-buttons .other-buttons-signup a:hover {
    border: 2px solid #002244;
    border-radius: 10px;
    color: #69BE28;
    background: #002244;
    text-decoration: none;
    padding: 3px;
    font-weight: 700;
}

/* Espaço entre o primeiro link e o botão de entrar */
.footer .other-buttons .other-buttons-forgot {
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #002244;
}
.copyright {
    /*margin-top: 20px;*/
    color: #A5ACAF;
    font-size: 16px;
    /*text-align: center;*/
}

