@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600;700;800&display=swap');

:root {
    --verde: #69BE28;
    --azul: #002244;
    --cor-ativo: #fff;
    --cinza: #A5ACAF;
    --cor-estado-hover: #000;
    --cor-fundo-card: #233;
    --cor-icone-card: #fff;
    --cor-fundo-icone-card: #7380ec;
    --cor-fundo-tabela: #fff;
    --cor-linha-tabela: rgba(132, 139, 200, 0.3);
    --cor-iten-tabela: #677483;
    --cor-detalhes: #7380ec;
	--border-radius: 4px;
	--shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
}

body, html {
	line-height: 1.8rem;
	font-family: 'Poppins', sans-serif;
	/* background: var(--verde); */
	/* text-transform: capitalize; */
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}
    
h1, h2, h3 {
	font-family: "Domine", sans-serif;
	font-weight: 400;
	line-height: 1.5rem;
	color: var(--azul);
}
  
p { 
	font-size: 1rem;
	margin: 12px 0 0;
	line-height: 24px;
}
  
a {
	font-weight: 400;  
}
  
button:focus {
	box-shadow: none;
	outline: none;
	border: none;
}
  
button {
	cursor: pointer;
}
  
ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
  
a, a:hover, a:focus {
	color: #333;
	text-decoration: none;
	transition: all 0.3s;
}
  
.pagina{
	position: relative;
	width: 100%;
	overflow: auto;	
}

.dashboard-card {
    transition: all 0.4s ease;
    background-color: white;
    border-radius: var(--border-radius);

}

.dashboard-card:hover {
	box-shadow: var(--shadow);
    transform: translateY(-5px);
}

.icon-box {
    width: 80px;
    height: 80px;
    background-color: var(--azul);
    color: white;
    border-radius: var(--border-radius);
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/*========= SIDEBAR =======*/
  
#sidebar{
	position:fixed;
	height:100%!important;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 11;
	width: 260px;
	overflow: auto;
	transition: all 0.3s;
	background-color: var(--azul);
	box-shadow: 0 0 30px 0 rgba(200 200 200 / 20%);
}

@media screen and (min-width: 992px) {
	#sidebar.active {
		left: -260px;
		height: 100%!important;
		position: absolute!important;
		overflow: visible!important;
		top: 0;
		z-index: 666;
		float: left!important;
		bottom: 0!important;
	}
	  
	#content {
		width: calc(100% - 260px);
		position: relative;
		float: right;
		transition: all 0.3s;
	}
	  
	#content.active {
		width:100%;
	}	  
}
  
#sidebar .sidebar-header {
	padding: 20px;
	background-color: var(--azul);
	/* border-bottom: 1px solid #eee; */
}
  
#sidebar ul li {
	padding: 10px 10px;
}
  
#sidebar ul li.active> a {
	color: white;
	background-color: var(--cinza);
}
     
#sidebar ul li a:hover {
	color: var(--cinza);
	background-color: white;
}
   
#sidebar ul li a{
	line-height: 2rem;
	font-size: 1rem;
	position: relative;
	font-weight: 400;
	display: block;
	color: var(--cinza);
	text-transform: uppercase;
}
   
#sidebar ul li a span {
	margin-right:10px;
}
		
/*========main-content- navbardesign -start-----*/
	
#content {
	position:relative;
	transition:all 0.5s;
	background-attachment:#f9fafc;
}
	
.top-navbar{
	width: 100%;
	z-index: 9;
	position: relative;
	padding: 15px 30px;
	/* background-color: #353b48; */
	background-color: var(--verde);
}
	 
/* .xd-topbar{
	width:100%;
	position:relative;
} */
	 	   
.main-content{
	padding:30px 30px 0px 30px;
}
		
.xp-menubar {
    border-radius:50%;
    width:45px;
	height:45px;
	line-height:45px;
	text-align:center;
	margin-right:20px;
	border:none;
	color:#fff;
	cursor:pointer;
	background-color:rgba(0,0,0,0.09);	   
}
		
		
.xp-menubar span{
	margin:9px;
	padding:0px;
	transform:rotate(90deg);
}
	  
.small-menu{
	min-width:10rem;
}
	  
.navbar-nav > .active > a:focus{
	color:#fff;
	background-color:rgba(0,0,0,0.08);
}
.navbar-nav li a{
	position:relative;
	display:block;
	padding:4px 10px!important;
}
	   
.nav-item .nav-link .material-icons{
	position:relative;
	top:10px;
	font-size:19px;
}
	   
	   
	   
/*----- TABELAS ----*/ 
	   
.table-wrapper {
    background-color: #fff;
    /* padding: 20px 25px; */
    margin:6px 0px 40px 0px;
    width: 100%;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
	   
.table-title {
	background: var(--verde);
	color: #fff;
	position: sticky;
	top: 0;
	width: 100%;
	left: 0;
	padding: 10px 30px;
}
	   
.table-title h2 {
	margin:5px 0  0;
	font-size:17px;
}
			
/*--table design end----*/ 
		   
#sidebar.show-nav, .body-overlay.show-nav {
	transform:translatex(0%);
	opacity:1;
	display:block;
	visibility:visible;
	z-index:15;
}
		   
	   
	   
	  
 /*========main-content- navbardesign -end-----*/
	
	
@media screen and (max-width: 992px) {
	#sidebar{
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10;
		width: 260px;
		transform: translatex(-100%);
		transition: all 150ms linear;
		box-shadow: none!important;
	}
		
	.body-overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		visibility: hidden;
		opacity: 0;
		z-index: 3;
		transition: all 150ms linear;
		background-color: rgba(0,0,0,0.5);
	}
}
