:root {
    --cor-background: #69BE28;
    --cor-icones: #002244;
    --cor-ativo: #fff;
    --cor-fundo-sidebar: #A5ACAF;
    --cor-estado-hover: #000;
    --cor-fundo-card: #fff;
    --cor-icone-card: #fff;
    --cor-fundo-icone-card: #7380ec;
    --cor-fundo-tabela: #fff;
    --cor-linha-tabela: rgba(132, 139, 200, 0.3);
    --cor-iten-tabela: #677483;
    --cor-detalhes: #7380ec;

}

*{
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 0.9rem;
    background: var(--cor-background);
}

.conteudo-da-pagina {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}


/* ------------------------------------------------------------------------------------------------------
-------------------------------------------------- SIDEBAR ----------------------------------------------
------------------------------------------------------------------------------------------------------ */

aside {
    height: 100vh;

}

aside h3 {
    font-weight: 500;
}    

aside .topo {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

aside .usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 70vh;
    position: relative;
    top: 3rem;
}

aside .sidebar a {
    display: flex;
    color: var(--cor-icones);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all .3s ease;

}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;

}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;

}

aside .sidebar a.ativo {
    background: var(--cor-fundo-sidebar);
    color: var(--cor-ativo);
    margin-left: 0;
}

aside .sidebar a.ativo:before {
   content: '';
   width: 6px;
   height: 100%;
   background: var(--cor-icones); 
}

aside .sidebar a.ativo span {
   color: var(--cor-ativo);

}

aside .sidebar a:hover {
   color: var(--cor-estado-hover);

}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ DASHBOARD ----------------------------------------------
------------------------------------------------------------------------------------------------------ */

main {
    margin-top: 1.4rem;

}

main .dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

}

main .dashboard > div {
    background: var(--cor-fundo-card);
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    transition: all 0.3s ease;

}

main .dashboard > div span {
    background: var(--cor-fundo-icone-card);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--cor-icone-card);
    font-size: 2rem;

}

main .historico {
    margin-top: 2rem;
}

main .historico h2{
    margin-bottom: 0.8rem;
}

main .historico table{
    background: var(--cor-fundo-tabela);
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    transition: all .3s ease;

}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--cor-linha-tabela);
    color: var(--cor-iten-tabela);

}

main .detalhes {
    color: var(--cor-detalhes);
}

